{% extends '::base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        {% for key, cell in list %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ cell }}</td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}
